.env
/src/main/resources/application-local.properties

# exclude auth keys but keep directory
/src/main/resources/auth/*
!/src/main/resources/auth/.gitkeep

infrastructure/utils/*
!infrastructure/utils/*.sh