SCHEDULER_CRON_CAR_POOLING=0 */10 * * * *

AMARILLO_URL=https://amarillo.otp.opendatahub.testingmachine.eu/agency/ummadum/sync}
AMARILLO_SECRET=

GOOGLE_API_APPLICATION_NAME=rides_italy.csv
GOOGLE_API_DRIVE_FILE_ID=1HzmEq-XB4dJEFlb0MAeupS3LRUXf86eI
GOOGLE_API_CREDENTIALS_FILE=/google-api-service-account.json

# OpenDataHub O-AUTH Keycloak configuration
# (These are standard values for local development)
OAUTH_AUTH_URI=https://auth.opendatahub.testingmachine.eu/auth
OAUTH_TOKEN_URI=https://auth.opendatahub.testingmachine.eu/auth/realms/noi/protocol/openid-connect/token
OAUTH_BASE_URI=http://localhost:8999/json
OAUTH_CLIENT_ID=odh-mobility-datacollector-development
OAUTH_CLIENT_NAME=odh-mobility-datacollector-development
OAUTH_CLIENT_SECRET=7bd46f8f-c296-416d-a13d-dc81e68d0830

ODH_CLIENT_STATIONTYPE=CarpoolingTrip
ODH_CLIENT_PROVENANCE_NAME=dc-car-pooling
ODH_CLIENT_PROVENANCE_VERSION=0.0.0-local-dev
ODH_CLIENT_PROVENANCE_ORIGIN=UMMADUM
ODH_CLIENT_PERIOD=3600
ODH_CLIENT_STATION_NAME_PREFIX=UMMADUM_

# Logging level and style (text or json)
LOG_LEVEL=debug
LOG_STYLE=text
ROOT_LOG_LEVEL=info
