# Data Collector config
A22_URL=
A22_USER=
A22_PASSWORD=


# Scheduler: 10 seconds with a single job for development
SCHEDULER_CRON_EXECUTE=*/10 * * * * *
SCHEDULER_POOL_SIZE=1

# ODH Core Writer Connection
BASE_URI=https://mobility.share.opendatahub.testingmachine.eu/json
authorizationUri=https://auth.opendatahub.testingmachine.eu/auth
tokenUri=https://auth.opendatahub.testingmachine.eu/auth/realms/noi/protocol/openid-connect/token
clientId=odh-mobility-datacollector
clientName=odh-mobility-datacollector
scope=openid
clientSecret=

# Get it from your pom.xml -> project/version and project/artifactId
provenance_name=dc-roadweather-a22-local
provenance_version=0.0.0

# Build, only needed to test infrastructure/docker-compose.build.yml
COMPOSE_PROJECT_NAME=roadweather-a22
DOCKER_IMAGE=roadweather-a22-image
DOCKER_TAG=test-1
ARTIFACT_NAME=dc-roadweather-a22

# Logging level and style (text or json)
LOG_LEVEL=debug
LOG_STYLE=text
