# ODH Core Writer Connection
BASE_URI=https://mobility.share.opendatahub.testingmachine.eu/json
authorizationUri=https://auth.opendatahub.testingmachine.eu/auth
tokenUri=https://auth.opendatahub.testingmachine.eu/auth/realms/noi/protocol/openid-connect/token
clientId=odh-mobility-datacollector
clientName=odh-mobility-datacollector
scope=openid
clientSecret=

# Get it from your pom.xml -> project/version and project/artifactId
provenance_name=dc-emobility-echarging
provenance_version=2.0.0

LOG_LEVEL=debug

# Alperia Config
provenance_name=dc-emobility-echarging-alperia
endpoint_host=api.alperia-emobility.eu
endpoint_port=80
endpoint_ssl=no
endpoint_path=/e-mobility/api/v3/chargingunits?includePartners=false
app_callerId=NOI-Techpark
app_dataOrigin=ALPERIA
app_period=600
