API_OAUTH_TOKEN_URI=
API_OAUTH_USERNAME=
API_OAUTH_PASSWORD=
API_OAUTH_CLIENT_SECRET=
API_OAUTH_CLIENT_ID=

ORIGIN=skidata

SCHEDULER_CRON="*/10 * * * * *"

BASE_URI=https://mobility.share.opendatahub.testingmachine.eu/json
OAUTH_AUTH_URI=https://auth.opendatahub.testingmachine.eu/auth
OAUTH_TOKEN_URI=https://auth.opendatahub.testingmachine.eu/auth/realms/noi/protocol/openid-connect/token
OAUTH_CLIENT_ID=odh-mobility-datacollector-development
OAUTH_CLIENT_NAME=odh-mobility-datacollector-development
OAUTH_CLIENT_SECRET=7bd46f8f-c296-416d-a13d-dc81e68d0830
OAUTH_CLIENT_SCOPE=openid

PROVENANCE_VERSION=0.0.0-local
PROVENANCE_NAME=odh-mobility-golang-dc-parking-offstreet-sta

LOG_LEVEL=INFO